.main-car{
    /* margin-left: 50px; */
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.choose-car{
     text-align: center;
     font-family: "Tilt-Neon",sans-serif;
     margin-top: 10px;

}
.h2-heading{
    text-align: center;
    font-family: "Tilt-Neon",sans-serif;
    margin-bottom: 10px;
}

.carcard-body{
      
      width: 200px;
      height: 180px;
      border-radius: 20px;
      background-color: whitesmoke;
     box-shadow: 3px 5px 4px 0px rgba(225, 207, 207, 0.918);

}
.carcard-body img{
    margin-left: 32px;
    margin-top: 10px;
    height: 120px;
    width:130px;
    border-radius: 50%;
}
.carcard-body:hover{
    box-shadow: 5px 5px 6px 0px rgba(120, 92, 205, 0.767);
}
.active{
 border: 4px  rgba(120, 92, 205, 0.767) solid;
}


.car-title{
     text-align: center;
     font-family: 'Tilt-Neon',sans-serif;
     margin-top: 10px;
}
.car-form{
    background-color: whitesmoke;
    box-shadow: 5px 5px 7px 0px rgba(225, 207, 207, 0.918);
    display: flex;
    border-radius: 20px;
    padding: 40px 50px;
    margin: 0px 30px;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input{
    background-color: whitesmoke;
    box-shadow: 2px 2px 3px 0px rgba(120, 92, 205, 0.767);
    border: 2px solid rgba(49, 0, 0, 0.871);
    border-radius: 10px;
     outline: none;
    width:300px;
    height:40px;
    padding: 10px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color:rgb(12, 3, 92);
}
input::placeholder{
    color:rgb(12, 3, 92);
}
textarea{
    background-color: whitesmoke;
    box-shadow: 2px 2px 3px 0px rgba(120, 92, 205, 0.767);
    border: 2px solid rgba(49, 0, 0, 0.871);
    border-radius: 10px;
     outline: none;
    width:300px;
    padding: 10px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color:rgb(12, 3, 92);
}
textarea::placeholder{
    color:rgb(12, 3, 92);
}
.book-btn{
    background-color:rgb(12, 3, 92) ;
    color:rgb(255, 253, 253);
    padding: 14px 40px;
    font-size: large;
    border-radius: 10px;
    margin-top:10px;
    border: 2px black solid;
}
.book-btn:hover{
    background-color:whitesmoke;
    color:black;
    box-shadow:4px 4px 6px 0px rgba(120, 92, 205, 0.767);
}
@media screen and (max-width:1096px) {
     .car-form{
        margin-left: 25px;

     }
     .h2-heading{
        margin-left: 160px;
        text-align: start;
     }
}