.card-body img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body{
    /* border: 2px solid red; */
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.702) ;
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
}
.card-title{
    font-family: 'Tilt Neon', cursive;
    font-size: 23px;
    padding: 5px;
   color:rgba(0, 0, 0, 0.784);
   margin-left: 10px;
}
.card-body:hover{
    transform: scale(1.06);
    transition-duration: 0.8s;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.702) ;
}
.book-now{
    font-family: 'Tilt Neon', cursive;
    position: absolute;
    top: 320px;
    left: 180px;
    font-size: 22px;
    background-color: red;
    border-radius: 8px;
    padding: 5px;
    color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.702);
    cursor: pointer;
}
.book-now:hover{
    background-color: white;
    color: red;
}
